{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}"  fetchpriority="high" />
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}"  fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Let's Connect</button>
    <ul class="author__urls social-icons">
      <!-- Font Awesome icons / Biographic information  -->
      {% if author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}

      <!-- Font Awesome and Academicons icons / Academic websites -->
      {% if author.academia %}
        <li><a href="{{ author.academia }}"><i class="ai ai-academia ai-fw icon-pad-right" aria-hidden="true"></i>Academia</a></li>
      {% endif %}
      {% if author.arxiv %}
        <li><a href="{{ author.arxiv }}"><i class="ai ai-arxiv ai-fw icon-pad-right"></i>arXiv</a></li>
      {% endif %}      
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.inspire-hep %}
        <li><a href="{{ author.inspire-hep }}"><i class="ai ai-inspire ai-fw icon-pad-right"></i>INSPIRE-HEP</a></li>
      {% endif %}      
      {% if author.impactstory %}
        <li><a href="{{ author.impactstory }}"><i class="ai ai-impactstory ai-fw icon-pad-right"></i>Impactstory</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.pubmed }}"><i class="ai ai-pubmed ai-fw icon-pad-right"></i>PubMed</a></li>
      {% endif %}                        
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate icon-pad-right" aria-hidden="true"></i>ResearchGate</a></li>
      {% endif %}
      {% if author.scopus %}
        <li><a href="{{ author.scopus }}"><i class="ai ai-scopus ai-fw icon-pad-right"></i>Scopus</a></li>
      {% endif %}
      {% if author.semantic %}
        <li><a href="{{ author.semantic }}"><i class="ai ai-semantic-scholar ai-fw icon-pad-right"></i>Semantic Scholar</a></li>
      {% endif %}
      {% if author.ssrn %}
        <li><a href="{{ author.ssrn }}"><i class="ai ai-ssrn ai-fw icon-pad-right"></i>SSRN</a></li>
      {% endif %}
      {% if author.zotero %}
        <li><a href="{{ author.zotero }}"><i class="ai ai-zotero ai-fw icon-pad-right"></i>Zotero</a></li>
      {% endif %}
    </ul>

    <h4 class="author__social-connect-title">Let's Connect</h4>
    <ul class="author__urls social-icons social-icons--row">
      <!-- Font Awesome icons / Repositories and software development -->
      {% if author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author.bitbucket }}" aria-label="Bitbucket"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="sr-only">Bitbucket</span></a></li>
      {% endif %}
      {% if author.codepen %}
        <li><a href="https://codepen.io/{{ author.codepen }}" aria-label="CodePen"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="sr-only">CodePen</span></a></li>
      {% endif %}
      {% if author.dribbble %}
        <li><a href="https://dribbble.com/{{ author.dribbble }}" aria-label="Dribbble"><i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="sr-only">Dribbble</span></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" aria-label="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span></a></li>
      {% endif %}
      {% if author.kaggle %}
        <li><a href="https://kaggle.com/{{ author.kaggle }}" aria-label="Kaggle"><i class="fab fa-fw fa-kaggle" aria-hidden="true"></i><span class="sr-only">Kaggle</span></a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" aria-label="Stackoverflow"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="sr-only">Stackoverflow</span></a></li>
      {% endif %}

      <!-- Font Awesome icons / Social media -->
      {% if author.artstation %}
        <li><a href="https://www.artstation.com/{{ author.artstation }}" aria-label="Artstation"><i class="fab fa-fw fa-artstation" aria-hidden="true"></i><span class="sr-only">Artstation</span></a></li>
      {% endif %}
      {% if author.bluesky %}
        <li><a href="https://bsky.app/profile/{{ author.bluesky }}" aria-label="Bluesky"><i class="fab fa-fw fa-bluesky" aria-hidden="true"></i><span class="sr-only">Bluesky</span></a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}" aria-label="Facebook"><i class="fab fa-fw fa-facebook-f" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
      {% endif %}
      {% if author.flickr %}
        <li><a href="https://www.flickr.com/{{ author.flickr }}" aria-label="Flickr"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="sr-only">Flickr</span></a></li>
      {% endif %}
      {% if author.foursquare %}
        <li><a href="https://foursquare.com/{{ author.foursquare }}" aria-label="Foursquare"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="sr-only">Foursquare</span></a></li>
      {% endif %}
      {% if author.goodreads %}
        <li><a href="https://www.goodreads.com/{{ author.goodreads }}" aria-label="Goodreads"><i class="fab fa-fw fa-goodreads" aria-hidden="true"></i><span class="sr-only">Goodreads</span></a></li>
      {% endif %}
      {% if author.google_plus %}
        <li><a href="https://plus.google.com/+{{ author.google_plus }}" aria-label="Google+"><i class="fab fa-fw fa-google-plus-g" aria-hidden="true"></i><span class="sr-only">Google+</span></a></li>
      {% endif %}
      {% if author.keybase %}
        <li><a href="https://keybase.io/{{ author.keybase }}" aria-label="Keybase"><i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="sr-only">Keybase</span></a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}" aria-label="Instagram"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
      {% endif %}
      {% if author.lastfm %}
        <li><a href="https://last.fm/user/{{ author.lastfm }}" aria-label="Last.fm"><i class="fab fa-fw fa-lastfm" aria-hidden="true"></i><span class="sr-only">Last.fm</span></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" aria-label="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span></a></li>
      {% endif %}
      {% if author.mastodon %}
        <li><a href="{{ author.mastodon }}" aria-label="Mastodon"><i class="fab fa-fw fa-mastodon" aria-hidden="true"></i><span class="sr-only">Mastodon</span></a></li>
      {% endif %}
      {% if author.medium %}
        <li><a href="{{ author.medium }}" aria-label="Medium"><i class="fab fa-fw fa-medium" aria-hidden="true"></i><span class="sr-only">Medium</span></a></li>
      {% endif %}
      {% if author.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author.pinterest }}" aria-label="Pinterest"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="sr-only">Pinterest</span></a></li>
      {% endif %}
      {% if author.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author.soundcloud }}" aria-label="Soundcloud"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="sr-only">Soundcloud</span></a></li>
      {% endif %}
      {% if author.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author.steam }}" aria-label="Steam"><i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="sr-only">Steam</span></a></li>
      {% endif %}
      {% if author.telegram %}
        <li><a href="{{ author.telegram }}" aria-label="Telegram"><i class="fab fa-fw fa-telegram" aria-hidden="true"></i><span class="sr-only">Telegram</span></a></li>
      {% endif %}
      {% if author.tumblr %}
        <li><a href="https://{{ author.tumblr }}.tumblr.com" aria-label="Tumblr"><i class="fab fa-fw fa-tumblr" aria-hidden="true"></i><span class="sr-only">Tumblr</span></a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" aria-label="X (formerly Twitter)"><i class="fab fa-fw fa-x-twitter" aria-hidden="true"></i><span class="sr-only">X (formerly Twitter)</span></a></li>
      {% endif %}
      {% if author.vine %}
        <li><a href="https://vine.co/u/{{ author.vine }}" aria-label="Vine"><i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="sr-only">Vine</span></a></li>
      {% endif %}
      {% if author.weibo %}
        <li><a href="https://www.weibo.com/{{ author.weibo }}" aria-label="Weibo"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="sr-only">Weibo</span></a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}" aria-label="Wikipedia"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i><span class="sr-only">Wikipedia</span></a></li>
      {% endif %}
      {% if author.xing %}
        <li><a href="https://www.xing.com/profile/{{ author.xing }}" aria-label="XING"><i class="fab fa-fw fa-xing" aria-hidden="true"></i><span class="sr-only">XING</span></a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/@{{ author.youtube }}" aria-label="YouTube"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="sr-only">YouTube</span></a></li>
      {% endif %}
      {% if author.zhihu %}
      <li><a href="https://www.zhihu.com/people/{{ author.zhihu }}" aria-label="Zhihu"><i class="fab fa-fw fa-zhihu" aria-hidden="true"></i><span class="sr-only">Zhihu</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
